{{#if this.categories}}
  {{#if this.filteredCategories}}
    <ul
      class="category-list {{if this.showTopics 'with-topics'}}"
      aria-labelledby="categories-only-category"
    >
      {{#each this.categories as |category|}}
        {{parent-category-row category=category showTopics=this.showTopics}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if this.mutedCategories}}
    <div class="muted-categories">
      <a href class="muted-categories-link" {{action "toggleShowMuted"}}>
        <h3 class="muted-categories-heading">{{i18n "categories.muted"}}</h3>
        {{#if this.mutedToggleIcon}}
          {{d-icon this.mutedToggleIcon}}
        {{/if}}
      </a>
      <ul
        class="category-list
          {{if this.showTopics 'with-topics'}}
          {{unless this.showMutedCategories 'hidden'}}"
      >
        {{#each this.categories as |category|}}
          {{parent-category-row
            category=category
            showTopics=this.showTopics
            listType="muted"
          }}
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}

{{plugin-outlet
  name="below-categories-only"
  tagName=""
  connectorTagName="div"
  args=(hash categories=this.categories showTopics=this.showTopics)
}}