{{#unless isHidden}}
  {{plugin-outlet
    name="category-list-above-each-category"
    connectorTagName=""
    tagName=""
    args=(hash category=category)
  }}

  <li
    data-category-id={{category.id}}
    data-notification-level={{category.notificationLevelString}}
    class="{{if c.description_excerpt 'has-description' 'no-description'}}
      {{if category.uploaded_logo.url 'has-logo' 'no-logo'}}"
  >
    <div class="item">
      <span
        class="category-color"
        style="background-color: #{{category.color}}"
      ></span>
      <span class="category {{if isMuted 'muted'}}">
        {{category-title-link category=category}}
        {{#if category.description_excerpt}}
          <div class="category-description">
            {{dir-span category.description_excerpt htmlSafe="true"}}
          </div>
        {{/if}}
        {{#if category.subcategories}}
          <div class="subcategories">
            {{#each category.subcategories as |subcategory|}}
              {{sub-category-item category=subcategory listType=listType}}
            {{/each}}
          </div>
        {{/if}}
      </span>
      <span class="topics">
        <div title={{category.statTitle}}>{{{html-safe category.stat}}}</div>
        {{category-unread category=category tagName="div" class="unread-new"}}
      </span>
      {{#unless isMuted}}
        {{#if showTopics}}
          <span class="latest">
            {{#each category.featuredTopics as |t|}}
              {{featured-topic topic=t}}
            {{/each}}
          </span>
        {{/if}}
      {{/unless}}
    </div>
  </li>
{{/unless}}